
@{
    ViewData["Title"] = "AdminPanel";
}

<br />
<br />
<br />
<br />
<br />


<button type="button" onclick="window.location.href = '../CPU/ShowCPU';" class="navigationbuttons">CPU</button>
<button type="button" onclick="window.location.href = '../GPU/ShowGPU';" class="navigationbuttons">GPU</button>
<button type="button" onclick="window.location.href = '../RAM/ShowRAMs';" class="navigationbuttons">RAM</button>
<button type="button" onclick="window.location.href = '../PcCase/ShowPcCases';" class="navigationbuttons">PcCase</button>
<button type="button" onclick="window.location.href = '../PcStorage/ShowPcStorages';" class="navigationbuttons">PcStorage</button>
<button type="button" onclick="window.location.href = '../PSU/ShowPSUs';" class="navigationbuttons">PSU</button>
<button type="button" onclick="window.location.href = '../Motherboard/ShowMotherboards';" class="navigationbuttons">Motherboard</button>

<br />
<br />
<br />
<br />
<br />
<br />

<button type="button" onclick="window.location.href = 'UserPanel';" class="navigationbuttons">Обратно към юзър панела</button>

